nav {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding: 0 2rem;
    /* background-color: #9966FF; */
    > div {
        margin: 0 0.75rem;
    } div a {
        text-decoration: none;
    }
    > div a p {
        font-size: 1.125rem;
        color: #fff; 
        font-family: Poppins;
    } div:first-child {
        margin-right: auto;
    }
}