.navbar-header {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 80px;
    padding: 12px 16px;
    > div {
        line-height: 1.25;
        display: flex; flex-direction: column;
        h2, p {color: var(--text-inverse);}
        h2 { font-size: clamp(0.25rem, 1.5vw, 1rem); }
        p {font-size: clamp(0.25rem, 1.25vw, 0.75rem); font-weight: 400;}
    }
}

/* .toggle-sidebar-nav {
    width: 76px;
} */

.toggle-sidebar {
    background-color: transparent;
    aspect-ratio: 1;
    padding: 0 8px;
    margin: 0 4px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
    svg {color: white;}
    &:hover {background-color:#f5f2ff; svg{color: var(--primary-color);}}
}

.quiz-page.sidebar-collapsed,
.dashboard-page.sidebar-collapsed {
    grid-template-columns: 80px auto;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--bg-main);
    border-right: 2px solid var(--border-main);
    width: 240px;
    overflow: visible;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    > .sidebar-nav {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 24px 16px;
        position: relative;
        p, svg {color: var(--text-muted);}
        .sidebar-option {
            min-width: 48px;
            padding: 12px;
            border-radius: 8px;
            display: flex;
            gap: 12px;
            align-items: center;
            transition: all 0.2s ease;
            cursor: pointer;
            text-decoration: none;
            svg {
                opacity: 1;
                transition: opacity 0.2s ease 0.2s;
                min-width: 24px;
            }
            p {
                font-size: clamp(0.5rem, 1.5vw, 1rem);
                opacity: 1;
                transition: opacity 0.2s ease 0.2s;
                text-wrap: nowrap;
            }
            &:nth-last-child(2) {margin-top: auto;}
        }
    }
}

.sidebar-option.active {
    background-color: var(--primary-color);
    > svg, p {color: white;}
}

.sidebar-option:not(.active):hover {
    background-color:#f5f2ff;
}

/* harvy preferebly mga nasa 48px-64px yung width ng collapse */
.quiz-page.sidebar-collapsed,
.dashboard-page.sidebar-collapsed {
    .sidebar {
        width: 80px;
    }

    .sidebar-option {
        p {
            opacity: 0;
            transition: none;
        }
    }

    .toggle-sidebar {
        cursor: pointer;
    }
}