:root {
    --primary-color: #9966FF;
    --secondary-color: #f6f6f6;
    --head-text-color: #333;
    --body-text-color: #666;
    --border-color: #e0e0e0;
    --selected-color: #7D3FFF;
    --background-color: #a883ea;
    --white-text-color: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--head-text-color);
    font-weight: 600;
    font-size: clamp(1.5rem, 3.5vw, 2.25rem);
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--head-text-color);
    font-weight: 600;
    font-size: clamp(1.25rem, 2.5vw, 1.75rem);
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 500;
}

small {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    font-weight: 400;
}