<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizWeb</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    <sidebar></sidebar>
    <main>
        <div class="quiz-container">
            <h1>Which HTML element is used to define the most important heading?</h1>
            <div class="options-container">
                <label>
                    <input type="radio" name="option">
                    <div class="options">
                        <div>1</div>
                        <p>&lt;h1&gt;</p>
                    </div>
                </label>
                <label>
                    <input type="radio" name="option">
                    <div class="options">
                        <div>2</div>
                        <p>&lt;heading&gt;</p>
                    </div>
                </label>
                <label>
                    <input type="radio" name="option">
                    <div class="options">
                        <div>3</div>
                        <p>&lt;h6&gt;</p>
                    </div>
                </label>
                <label>
                    <input type="radio" name="option">
                    <div class="options">
                        <div>4</div>
                        <p>&lt;head&gt;</p>
                    </div>
                </label>
            </div>
        </div>
    </main>
    <footer>
        <div class="options" id="skip">
            <p>Skip</p>
        </div>
        <div class="options" id="submit">
            <p>Submit</p>
        </div>
    </footer>
</body>
</html>